{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div id="homepage">
    <div class="bg-yellow-500 text-black text-xl p-5 mt-10 rounded-lg">Hello world, from Symfony!</div>
</div>

{% endblock %}

{% block javascripts %}
    {{ vite_entry_script_tags('home') }}
{% endblock %}
